@{
    Layout = "_Layout";
}

<div>
    <p>Expected Area: @AreaRoute.BackOffice.AreaName</p>
    <p>Assembly: @this.GetType().Assembly.GetName()</p>
    <p>Area: @Context.Request.RouteValues["area"]</p>
</div>

<component type="typeof(App)" render-mode="ServerPrerendered" />
