@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome into Dough</h1>
    <p>Learn how compose your <a href="https://docs.microsoft.com/aspnet/core">Web apps with ASP.NET Core</a> and <a href="https://docs.microsoft.com/aspnet/core/blazor/components/class-libraries">Razor class library</a>.</p>
    <a href="/IngredientsSelection" class="btn btn-primary">Start the tour 🚌</a>
</div>
