@page "/back-office/ingredients-selection"
@using Microsoft.Extensions.Logging
@using System.Threading.Tasks

@inject ILogger<Index> logger
@inject NavigationManager navigationManager

<div>Stay safe, turn around</div>

<Ingredients />

@code {
    protected override void OnInitialized()
    {
        this.logger.LogInformation("Initialized.");
    }
}
